<dom-module id="home-template">
	<style>
	    :host {
	      position: relative;
	      width: 100px;
	    }
	</style>
	<template>
		<div class="input">
		Home
		<a is='s-ref' goto='["contact"]'>sdf</a> 
		<a is='s-ref' state='home' params='{{sd}}'>yy home</a>
		</div>
	</template>
</dom-module>

<script>



Polymer({
	is: 'home-template',
	properties: {
		sd: {
			type: String,
			value: 'bc'
		}
	},
	behaviors: [],
	onleave: function(){
		console.log($state.params.id)
		if($state.params.id == 'e')
			return false;
		return true;
	},
	attached: function(){
		console.log($state.params.id)
	},
});
</script>